body {
  background-color: #282c34;
}

.MuiGrid-root {
  padding: 20px;
}

.MuiList-root {
  color: white;
  height: 70vh;
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.input-area {
  margin: 20px;
  display: flex;
  flex: auto;
  flex-direction: column;
}