body {
  background-color: #282c34;
}

.messages-area {
  color: white;
  height: 70vh;
  overflow: auto;
  overflow-x: hidden;
  margin: 20px;
  padding: 0px 10px;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.messages-area p {
  margin: 0;
}

.input-area {
  margin: 20px;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.input-area input, button {
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #1f2229;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}