html, body {
  background-color: #282c34;
  color: white;
  height: 100%;
}

.middle-block {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  height: 80vh;
  color: white;
}

.chats-block {
  border: 1px solid white;
  flex: 1;
}

.messages-block {
  border: 1px solid white;
  flex: 4;
}

.chats-block .MuiList-root {
  height: 73.5vh;
  overflow: auto;
}

.messages-block .MuiList-root {
  height: 78vh;
  overflow: auto;
}

.center-screen {
  text-align: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.gist-row {
  color: white;
  background-color: #00000010;
  border: 1px solid #00000050;
  border-radius: 10px;
  margin: 5px 0px;
  padding: 5px;
}

.gist-row-header {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.gist-row-header .MuiLink-root {
  margin: 0px 10px;
  padding: 8px;
}

.gist-row-content {
  margin: 5px;
  border: 1px solid white;
  border-radius: 10px;
}

.gist-row-content-filename {
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: 5px 10px;
  background-color: #505050;
  border-radius: 10px 10px 0px 0px;
}

.gist-row-content-filename a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
}

.gist-row-content-filename a:hover {
  text-decoration: underline;
}

.gist-row-content-code {
  padding-left: 10px;
  color: lightgray;
}