html, body {
  background-color: #282c34;
  height: 100%;
}

.middle-block {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  height: 80vh;
  color: white;
}

.chats-block {
  border: 1px solid white;
  flex: 1;
}

.messages-block {
  border: 1px solid white;
  flex: 4;
}

.MuiList-root {
  overflow: auto;
  height: 78vh;
}